
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
}

.hero-img {
    background-image: url("../photos/portfolio-graphic.jpg");
    height: 700px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

h1 {
    color: black;
}

.first-name {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    display: block;
    position: absolute;
    font-weight: lighter;
    top: 210px;
    bottom: auto;
    left: 350px;
    right: auto;
    padding: 0px;
}

.last-name {
    color: black;
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 100px;
    position: absolute;
    font-weight: lighter;
    top: 310px;
    bottom: auto;
    left: 350px;
    right: auto;
    padding: 0px;
}
  
nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 35px;
}

nav a {
    color: black;
    display: inline-block;
    word-spacing: 10px;
    text-align: right;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: -20px;
    bottom:auto;
    right: auto;
    left: 670px;
}
  
nav a:hover {
    background-color: #f991CC;
    color: black;
}

.about {
    background-color: black;
    color: white;
    height: 750px;
    width: 100%;
    position: relative;
}

#pic-me {
    max-height: 750px;
    max-width: auto;
    float: left;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    z-index: 0;
}

#pic-me:hover {
    filter: none;
}

.label {
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-weight: lighter;
    font-size: 67px;
    margin-left: 50px;
    position: absolute;
    top: 20px;
    z-index: 1;
}

#bio {
    position: absolute;
    top: 250px;
    bottom: auto;
    left: 50px;
    right: 600px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.work {
    background-color: white;
    height: 650px;
    width: 100%;
    position: relative;
    top: -100px;
} 

.label2 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: lighter;
    font-size: 50px;
    margin-left: 50px;
    position: absolute;
    top: 20px;
    z-index: 1;
}
.contact {
    background-color: black;
    height: 400px;
    width: 100%;
    position: relative;
}

.label3 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: lighter;
    font-size: 50px;
    margin-left: 50px;
    position: absolute;
    top: 20px;
}

.grid-time {
    position: relative;
    top: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 0px;
}

#project-1 {
    height: 300px;
    width: 422px;
    background-color: white;
}

#project-2 {
    height: 300px;
    width: 422px;
    background-color: lightslategrey;
}

#project-3 {
    height: 300px;
    width: 422px;
    background-color: gray;
}

#project-4 {
    height: 300px;
    width: 422px;
    background-color: gray;
}

#project-5 {
    height: 300px;
    width: 422px;
    background-color: black;
}

#project-6 {
    height: 300px;
    width: 422px;
    background-color: white;
}

.project-title {
    position: relative;
    bottom: 100px;
    right: 16px;
    z-index: 1;
}

.links {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 200px;
    margin-left: 200px;
    margin-right: 50px;
    align-items: center;
    font-size: 35px;
}

.links:hover {
    background-color: black;
    color: black;
} 

footer {
    background-color: black;
    color: white;
    height: 200px;
}

.credit {
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 500px;
    top: 100px;
}